{% extends "base.html" %} {% block content %}
<a href="{% url 'leads:lead-list' %}">Go back to leads</a>
<hr />
<h1>{{lead.first_name}} details page</h1>

<div class="lead">
  <p>firstName: {{lead.first_name}}</p>
  <p>lastName: {{lead.last_name}}</p>
  <p>Age: {{lead.age}}</p>
  <p>This agent responsible for this lead: {{lead.agent}}</p>
  <hr />
  <a href="{% url 'leads:lead-update' lead.pk %}">Update</a>
  <a href="{% url 'leads:lead-delete' lead.pk %}">Delete</a>
</div>
{% endblock content %}
