<DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="witdth=device-width, initial-scale=10" />
      <title>LACRM</title>

      <style>
        .lead {
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 6px;
          padding-bottom: 6px;
          margin-top: 10px;
          background-color: #f6f6f6;
          width: 100%;
        }
      </style>
    </head>
    <body>
      {% block content %}
      <!--This block allows to exten templates and only include what needs to be included-->
      {% endblock content %} {% include "scripts.html" %}
    </body>
  </html>
</DOCTYPE>
