<DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="witdth=device-width, initial-scale=10" />
      <title>LACRM</title>
      <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
      <div class="max-w-7xl mx-auto">
        {% include "navbar.html" %} {% block content %}
        <!--This block allows to exten templates and only include what needs to be included-->
        {% endblock content %}
      </div>
      {% include "scripts.html" %}
    </body>
  </html>
</DOCTYPE>
